<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>components</title>
  <style>
    body {
      background: #E8CBC0;
      background: -webkit-linear-gradient(to right, #E8CBC0, #636FA4);
      background: linear-gradient(to right, #E8CBC0, #636FA4);
      min-height: 100vh;
      text-align: justify;
    }
    .mb-5 a{
      color: black;
      font-weight: bold;
    }
    .mb-5 img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mb-1"><%= component.title %></h1>
    <div class="text-muted mb-2">
      <img src= "<%= component.markdown %>" width="300" height="300">
    </div>
    <br>
    <div class="text-muted mb-2">
      <%= component.createdAt.toLocaleDateString() %>
    </div>
    <h6 ><%= component.description %></h6>
    <a href="/component" class="btn btn-secondary">All components</a>
    <a href="edit/<%= component.id %>" class="btn btn-info">Edit</a>
    <br><br>
  </div>
</body>
</html>